{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block body %}
    <h1>Welcome on the blog!</h1>
    <ul>
        <li>
            <a href="/sign-up">Sign Up</a>
        </li>
        <li>
            <a href="/sign-in">Sign In</a>
        </li>
        <li>
            <a href="/posts">Show all posts</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a class="link" href="{{ path('user_account') }}">account</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}