{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block body %}
    <h1>Welcome on the blog!</h1>
    <ul>
        <li>
            <a href="/sing-up">Sing Up</a>
        </li>
        <li>
            <a href="/sing-in">Sing In</a>
        </li>
        <li>
            <a href="/posts">Show all posts</a>
        </li>
    </ul>
{% endblock %}